@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    background-color: #3F4E4F;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 80vh;
}

.options{
    background-color: #2C3333;
    height: 80vh;
    width: 40%;
    border-radius: 20px;
    margin: auto;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
}

.wrapperTitle{
    font-size: 2.1rem;
    margin-bottom: 60px;
}

.logs{
    background-color: #2C3333;
    height: 80vh;
    width: 40%;
    border-radius: 20px;
    margin: auto;
    margin-top: 15vh;
    padding: 2%;
    box-sizing: border-box;
    white-space: break-spaces;
    overflow: hidden;
}

h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
}

img:hover{
	transform: scale(1.1);
}

.div-title{
    background-color: #2C3333;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 10vh;
}

button{
    background-color: #2C3333;
    border: none;
    border-radius: 50px;
}

img{
    height: 100%;
    width: 100%;
    position: relative
}

@media (max-width: 1440px){
    .container{
        flex-direction: column;
        height: 95vh;
    }

    .options{
        width: 90%;
        height: 100%;
    }

    .logs{
        width: 90%;
        margin-top: 50px;
        height: 100%
    }
}

@media (max-width: 550px){
    h1{
        font-size: 2rem;
    }
}

@media (max-width: 550px){
    h1{
        font-size: 1.8rem;
    }

    .wrapperTitle{
        font-size: 1.5rem;
    }
}

@media (max-height: 900px){
    img{
        height: 80%;
        width: 80%;
    }
}

@media (max-height: 900px){
    img{
        height: 60%;
        width: 60%;
    }

    h1{
        font-size: 1.7rem;
    }
}

@media (max-height: 620px){
    img{
        height: 40%;
        width: 40%;
    }

    .wrapperTitle{
        margin-bottom: 0px;
    }
}